[Unit]
Description=Temperature control service

[Service]
User=root
ExecStart=/usr/share/fan/fan_pwm.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
